
.App {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.StatusBar {
  padding: 10px 0;
}

.status {
  border-radius: 3px;
  display: inline-block;
  font-weight: bold;
  padding: 3px;
  margin: 0 5px;
}

.status-ok {
  background-color: var(--green);
}

.status-error {
  background-color: var(--red);
}

.AddMarketModal {
  background-color: var(--darkest-grey);
  border: 2px solid var(--lighter-grey);
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  padding: 40px;
  overflow-y: auto;
}

.AddMarketsList {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.AddMarketsListItem {
  border: 1px solid var(--lighter-grey);
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  transition: border-color 0.7s;
}

.AddMarketsListItem:hover {
  border-color: var(--green);
}

.button-confirm,
.button-cancel {
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  margin: 10px 5px;
}

.button-confirm {
  background-color: var(--green);
}

.button-cancel {
  background-color: var(--red);
}

.MarketsList {
  margin: 0 -20px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.MarketsList > li {
  height: 360px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  padding: 10px;
  margin: 20px;
  width: 400px;
}

.Market {
  background-color: var(--lighter-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ConnectingPlaceholder,
.NewMarketPlaceholder {
  border: 2px solid var(--lighter-grey);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.NewMarketPlaceholder {
  cursor: pointer;
  transition: opacity .7s, background-color .7s;
}

.NewMarketPlaceholder:hover {
  background-color: var(--lighter-grey);
  opacity: 1;
}

.AddMarketButton {
  background-color: var(--green);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.RemoveMarket {
  cursor: pointer;
  display: flex;
  opacity: 0.7;
  transition: opacity .7s, background-color .7s;
}

.RemoveMarket:hover {
  opacity: 1;
}

.RemoveMarket:hover > .RemoveMarketText {
  text-decoration: underline;
}

.RemoveMarketButton {
  background-color: var(--red);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.AsksList,
.BidsList {
  list-style: none;
  padding: 0;
  height: 86px;
}

.Ask,
.Bid,
.Market-highlight {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  overflow-wrap: break-word;
}

.Ask > span,
.Bid > span {
  display: block;
  width: 49%;
}

.AskPrice {
  color: var(--green);
}

.BidPrice {
  color: var(--red);
}


.MidPrice,
.Spread {
  width: 49%;
  font-size: 21px;
}

.Spread {
  font-weight: bold;
}
