.App {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.StatusBar {
  padding: 10px 0;
}

.status {
  border-radius: 3px;
  display: inline-block;
  font-weight: bold;
  padding: 3px;
  margin: 0 5px;
}

.status-ok {
  background-color: #01B075;
}

.status-error {
  background-color: #FA4637;
}

.MarketsList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.Market,
.NewMarketPlaceholder {
  height: 300px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  padding: 10px;
  margin: 10px 0;
  max-width: 450px;
}

.Market {
  background-color: #323337;
}

.NewMarketPlaceholder {
  border: 1px solid #323337;
}

.AsksList,
.BidsList {
  list-style: none;
  padding: 0;
}

.Ask,
.Bid {
  display: flex;
  justify-content: space-between;
}

.Ask > span,
.Bid > span {
  display: block;
  width: 49%;
}

.AskPrice {
  color: #01B075;
}

.BidPrice {
  color: #FA4637;
}

.Ask,
.Bid,
.Market-highlight {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.MidPrice,
.Spread {
  width: 49%;
  font-size: 28px;
}

.Spread {
  font-weight: bold;
}

@media (min-width: 840px) {
  .MarketsList {
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .Market,
  .NewMarketPlaceholder {
    flex: 1;
    max-width: 49%;
  }
  .MarketsList > li:not(:first-child),
  .MarketsList > li:not(:nth-child(2n+1)) {
    margin-left: 2%;
  }
}

@media (min-width: 1180px) {
  .MarketsList {
  }
  .Market,
  .NewMarketPlaceholder {
    max-width: 32%;
  }
  .MarketsList > li:not(:first-child),
  .MarketsList > li:not(:nth-child(3n+1)) {
    margin-left: 2%;
  }
}

@media (min-width: 1440px) {
  .Market,
  .NewMarketPlaceholder {
    max-width: 24%;
  }
  .MarketsList > li:not(:first-child),
  .MarketsList > li:not(:nth-child(4n+1)) {
    margin-left: 1.334%;
  }
}
